fastapi==0.115.1
uvicorn[standard]==0.34.0
python-dotenv==1.0.1
pydantic==2.11.1
python-multipart==0.0.9
httpx==0.28.1
openai==1.84.0
tqdm==4.67.1
requests==2.32.3
jinja2
pymongo[srv]==3.13.0
certifi
dnspython
pyopenssl
cffi
pip
setuptools
wheel
Pillow==11.2.1